
body {
  background-color: grey;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1ch;

  & h1 {
    margin: 0;
    margin-block: .5ch;
  }

  & menu {
    display: flex;
    gap: 1ch;
    margin: 0;

    & select {
      min-width: 10ch;
      padding-inline: 2ch;
      padding-block: 1ch;
    }

    & button[command="--reload"] {
      font-variant-emoji: emoji;
      font-size: 2em;
      padding: 0;
      border: 0;
      background: inherit;
    }
  }

}

main {
  display: flex;
  justify-content: center;
}


main[data-multi] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  & > * {
    flex: 50%;
  }
}


section {
  position: relative;
  display: flex;
  width: 100%;

  & > output {
    position: absolute;
    font-size: 1.5em;
    top: 0.5em;
    left: 1ch;
    text-shadow: 1px 1px 0px white;
  }

  & > canvas {
    background-color: white;
    width: 100%;
  }
}
